body{
    margin-top:20px;
    color: #8e9194;
    background-color: #f4f6f9;
    }
    .text-muted {
        color: #aeb0b4 !important;
    }
    .text-muted {
        font-weight: 300;
    }
    .security-settings {
        margin: 20px;
      }
      
    /* .emergency-settings {
    margin-top: 20px;
    }
    
    .toggle-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    }
    
    .toggle-container .switch {
    margin-left: 10px;
    }
    
    .form-group label {
    font-size: 14px;
    font-weight: normal;
    } */